body {
  text-align: center;
  background-image: url("../images/websiteBackground.jpg") ;
}

canvas {
  border: 10px #212236 solid;
  border-radius: 5px;
}

#sidebar {
  position: absolute;
  text-align: center;
  padding-top: 0.5%; 
  left: 5%;
  top: 10%;
  height: 6%;
  width: 10%;
  color: white;
  border-radius: 6px;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  background: rgb(223, 117, 20);
  font-size: 30px;
}

#game-background {
  position: absolute;
  z-index: -1;
}

#game-menu {
  background-image: url("../images/menuBackground.png");
  background-size: cover;
  position: absolute;
  display: inline;
  z-index: 10;
  height: 700px;
  width: 800px;
  border: 10px #212236 solid;
  border-radius: 5px;
}

#firstImage{
  height: 400px;
  width: 330px;
  margin-top: 15%;
}

#ready {
  display: none;
}

#secondImage {
  display: none;
  height: 400px;
  width: 330px;
  margin-top: 15%;
}

button {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 0;
  height: 10%;
  width: 22%;
  color: white;
  border-radius: 6px;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  background: rgb(223, 117, 20);
  font-size: 30px;
}

p {
  font-weight: bold;
  margin: 0 auto;
  display: none;
  height: 15%;
  width: 80%;
  color: black;
  font-size: 20px;
}