body {
  text-align: center;
  background-image: url("../images/websiteBackground.jpg") ;
}

canvas {
  border: 10px #212236 solid;
  border-radius: 5px;
}
/* #game-screen {
  position: absolute;
  z-index: ;
} */

#game-background {
  position: absolute;
  z-index: -1;
}